<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mashrueiadmin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MessagesActivity" android:theme="@style/NoActionBar"/>
        <activity
            android:name=".Activity.NotificatioActivity"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbB_l8vjgro3Swtsh74N1dyx5c_xJu-qI" />

        <activity
            android:name=".Activity.AddCenterActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.StoreActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity
            android:name=".Activity.ProductActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.DetailsActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.PostActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>